
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(190, 178, 137);
  
}

h1 {
  text-align: center;
  margin: 0px auto;
  display: block;
  position: relative;
  font-size: 72px;
}

#input {
  text-align: center;
  font-size: 40px;
}

.submissionField {
  width: 350px; 
  height: 50px; 
  border: 1px solid #999999; 
  padding: 5px;
  font-size: 40px;
  font-family: "monospace";
}

.submissionButton {
  height: 50px;
  width: 150px;
  padding: 5px;
  border: 1px solid #999999;
  position: relative;
  bottom: 3px;
  font-size: 28px;
}

#values {
  text-align: center;
  font-size: 40px;
  position: relative;
}

.row {
  text-align: center;
  padding: 20px;
}

.block {
  display: inline-block;
}

#b1{
  position: relative;
  right: 635px;
  font-size: 25px;
  top: 20px;
  color: rgb(148, 20, 20);
}

#b3 {
  color: rgb(5, 85, 5) ;
}

#b2 {
  position: relative;
  right: 430px;
  color: rgb(9, 9, 209);
}

.links {
  text-align: center;
  position: relative;
  top: 75px;
  font-size: 32px;
}
