
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(190, 178, 137);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  text-align: center;
  margin: 0px auto;
  display: block;
  position: relative;
  font-size: 72px;
}

#input {
  text-align: center;
  font-size: 40px;
}

.submissionField {
  width: 350px; 
  height: 50px; 
  border: 1px solid #999999; 
  padding: 5px;
  font-size: 40px;
  font-family: "monospace";
}

.submissionButton {
  height: 50px;
  width: 150px;
  padding: 5px;
  border: 1px solid #999999;
  position: relative;
  bottom: 3px;
  font-size: 28px;
}

#values {
  text-align: center;
  font-size: 2.3rem;
  grid-area: values;
}

.row {
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns:5% 5% 20% 70%;
  width: 90vw;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    ". . exp man"
    "values values values values"
    ". sign . .";
}

.block {
  display: inline-block;
}

#sign{
  font-size: 25px;
  color: rgb(148, 20, 20);
  grid-area: sign;
  justify-self: start;
}

#man {
  color: rgb(5, 85, 5);
  grid-area: man;
  justify-self: center;
}

#exp {
  color: rgb(9, 9, 209);
  grid-area: exp;
  justify-self: start;
  margin-left: 0%;
}

.links {
  text-align: center;
  position: relative;
  top: 75px;
  font-size: 32px;
}
